<div class="banner">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>
<div class="container mt-5">
  <h1>My lists</h1>
    <%= link_to "Create a movie list", lists_new_path, class: "btn btn-flat float-end" %>

  <div class="row">
    <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, crop: :fill %>)">
      <%= link_to list.name, list_path(list) %>
      <%= cl_image_tag list. %>
    </div>
  <% end %>
  </div>
</div>
